.footer {
  background-color: #ff4500;
  text-align: center;
  width: 100%;
  padding: 1%;
  margin-top: 1.5%;
  color: var(--darkest);
  font-size: 1.3rem;
  font-weight: 700;
  height: 1.4rem;
  position: fixed;
  bottom: 0%;
}

.icon {
  display: inline;
  margin: 0 10px auto;
  color: var(--darkest);
}

.icon:hover {
  cursor: pointer;
  box-shadow: 0px 5px 0px rgb(4, 110, 172);
}
