.form {
  display: flex;
  margin: 1% 5%;
}

.form input {
  background-color: var(--nice-gray);
  padding: 1%;
  color: var(--light);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  border: solid 2px var(--dark);
}

.form input[type="text"] {
  flex: 10;
  padding: 0.5rem;
}

.form input[type="submit"] {
  flex: 2;
  transition-duration: 0.25s;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: var(--darkest);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
