/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #e50914;
  --dark-color: #1e2022;
  --light-color: #f4f4f4;
  --secondary: #aabbcc;
  --success: #00b020;
  --dark: #14171c;
  --dark-input-background: #2c3440;
  --nav-color: #14171c;
  --bg-color-short: #1e252d;
  --nice-gray: #445566;
  --light: #99aabb;
  --link-color: #ddeeff;
  --blue: #40bcf4;
  --orange: #ff8000;
}

body {
  background-color: #1e252d;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  color: #f4f4f4;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ff4500;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.3% 10%;
}

p {
  font-size: 1rem;
  font-weight: 200;
}

.content {
  width: 100%;
}
